/* Mobiles */

@media(max-width: 375px) {
    body {
        width: 100%;
        height: 100%;
    }
    /* logo */
    .logo {
        width: 76px;
        height: 54px;
        left: 11.609375%;
        top: 40.05px;
        font-size: 36px;
        line-height: 54px;
    }
    /* nav */
    .nav {
        display: none;
    }
    i {
        position: relative;
        left: 76.27%;
        right: 12.05%;
        top: 94.05px;
        background-color: transparent;
        border: 0;
        color: white;
        font-size: 20px;
    }
    .nav-toggle:checked~.nav {
        display: block;
    }
    .nav-toggle-label {
        position: absolute;
        margin-right: 2em;
    }
    /* selection */
    .carousel:after {
        content: '';
    }
    .carousel {
        width: 240px;
        top: 600px;
        left: 67.5px;
    }
    .flex {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 70px;
    }
    .selection-item {
        width: 240px;
        height: 277px;
    }
    .q-image {
        width: 200px;
        height: 153px;
        align-items: center;
        margin: 30px 20px;
    }
    .q-title {
        font-size: 24px;
        line-height: 36px;
        margin-top: 0;
    }
    /* add */
    .add {
        position: fixed;
        width: 44px;
        height: 44px;
        left: 319.75px;
        right: 11.75px;
        top: 740px;
    }
}